* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #636464;
  background-color: #f8f9fa;
  
  // #root {
  //   height: 100%
  // }

  .footer-container {
    font-size: 13px;
  }
  a {
    color:#636464;
  }
}


