* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Urbanist", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #636464;
    background-color: #f8f9fa;

    a {
        color: #636464;
    }
}
